.smaller-image {
    max-width: 400px; 
    max-height: 400px; 
  }

.header {
    background-color: rgba(255, 255, 255, 0.664); 
  }

  .price {
    background-color: rgb(52, 51, 51);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }

  .navbar-icon{
    width: 15%;
    height: auto;
  }

  .navbar-icon-link .navbar-icon {
    margin-right: 20px;
  }

  .menu-image {
    width: 100%;
    height: auto;
  }

  /* RESPONSIVE TABLE */
  
  @media (max-width: 1200px) {


    table {
        width: 100%;
        text-align: center;

    }

}

@media (max-width: 600px) {

    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tr:nth-of-type(2n) {
        background-color: inherit;
    }

    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }

    tbody td {
        display: block;
        text-align: center;
    }

    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
}



@media (max-width: 300px) {
    table {
        width: 30%;
        display: block;
        overflow-x: scroll;

    }
}